<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fake Reddit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/clarity.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a class="title" asp-area="" asp-controller="Home" asp-action="Index">MVC</a>
        </div>
        @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
        @*         aria-expanded="false" aria-label="Toggle navigation"> *@
        @*     <span class="navbar-toggler-icon"></span> *@
        @* </button> *@
        <div class="divider"></div>
        <div class="header-nav">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Subreddits</a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            @RenderBody()
        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>